
#feedbackWidget {
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-topright: 3px;
    -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    background: url("../images/px.gif") repeat-y scroll right top #F4F4F4;
	border-top: 1px solid #BEBEBE;
	border-right: 1px solid #BEBEBE;
	border-bottom: 1px solid #BEBEBE;
    display: block !important;
    font: 13px/17px Helvetica,Arial,sans-serif;
    height: 119px;
    left: 0;
    position: fixed;
    top: 250px;
    width: 24px;
    z-index: 1500;
}
#feedbackWidget .feedbackButton {
    background-image: url("../images/feedbackBtn.png");
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    float: left;
    height: 103px;
	margin: 8px 0px;
    text-indent: -9999px;
    width: 23px;
}
