
#menu {
	margin: 0px 30px 0px 15px;
	background: url(../images/menuBarBg.png) no-repeat 0 0;
	position: relative;
	top: 115px;
	left: 0;
	z-index: 400;
	height: 35px;
}
#menu ul.menuDropdown {
	float: left;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
#menu ul.menuDropdown li {
	float: left;
	position: relative;
}
#menu ul.menuDropdown li a {
	display: block;
	float: left;
	padding: 0px 20px;
	text-decoration: none;
	color: #333;
	background: url(../images/menuSep.png) no-repeat 100% 0%;
}
#menu ul.menuDropdown li a span.bg {
	float: left;
	display: block;
	height: 35px;
	line-height: 35px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}
#menu ul.menuDropdown li a span.home {
	background: url(../images/home.png) no-repeat 50% 50%;
	text-indent: -999em;
	width: 18px;
}
#menu ul.menuDropdown li:hover a {
	background: url(../images/menuBarBgHover.png) no-repeat 100% 0%;
	color: #F7F7F7;
}
#menu ul.menuDropdown li:hover a span.bg {
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
}
#menu ul.menuDropdown li a:hover {
	background: url(../images/menuBarBgHover.png) no-repeat 100% 0%;
	color: #F7F7F7;
}
#menu ul.menuDropdown li a:hover span.bg {
	text-shadow: 0 1px 0 #333;
}
#menu ul.menuDropdown li a:hover span.home {
	background: url(../images/homeHover.png) no-repeat 50% 50%;
}
#menu ul.menuDropdown li a.current {
	background: url(../images/menuBarBgHover.png) no-repeat 100% 0%;
	color: #F7F7F7;
}
#menu ul.menuDropdown li a.current span.bg {
	text-shadow: 0 1px 0 #333;
}
#menu ul.menuDropdown li a.home:hover {
	background: url(../images/menuBarBgHover.png) no-repeat 0% 0%;
}
#menu ul.menuDropdown li div.dropdown {
    -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    background: #F4F4F4;
    border: 4px solid #FF0000;
	border-top: none;
    overflow: hidden;
    position: absolute;
    width: 180px;
	padding: 0px;
	top: 42px; left: 0;
	float: left;
	z-index: 500;
}
#menu ul.menuDropdown li div.dropdown ul {
	list-style: none;
	margin: 0; padding: 0;
	width: 100%;
	float: none;
}
#menu ul.menuDropdown li div.dropdown ul li {
	width: 100%; /*--Override parent list item--*/
    display: block;
    padding: 0px;
	background: url(../images/itemBg.png) repeat-x 0 0;
	height: 30px;
}
#menu ul.menuDropdown li div.dropdown ul li:hover {
	background-position: 0 -30px;
}
#menu ul.menuDropdown li div.dropdown ul li a {
	float: none;
	text-indent: 0;
	height: 30px;
	line-height: 30px;
	padding: 0px 5px;
	display: block;
	text-decoration: none;
	background: none;
	font-weight: normal;
}
#menu ul.menuDropdown li div.dropdown ul li a span.bg {
	font-size: 12px;
	height: 30px;
	line-height: 30px;
	text-shadow: none;
	color: #18453b;
	font-weight: normal;
}
#menu ul.menuDropdown li div.dropdown ul li a span.bg:hover {
	background: none;
	color: #18453b;
}
#menu ul.menuDropdown li div.dropdown ul li a:hover span.bg {
	text-shadow: none;
}

/* MAIN MENU LEVEL 2
==============================================================================*/
#miniMenu {
	right: 20px;
    position: absolute;
    top: 90px;
}
#miniMenu ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
#miniMenu ul li {
	float: left;
	padding-left: 5px;
}
#miniMenu ul li a {
	color: #D2E6D5;
	font-size: 10px;
	padding-left: 4px;
	padding-right: 4px;
	text-decoration: none;
	text-transform: uppercase;
}
#miniMenu ul li a span.bb {
	border-bottom: 1px solid #608179;
}
#miniMenu ul li a:hover {
	color: #3B3B37;
	background: #DDDDD5;
}
#miniMenu ul li a:hover span.bb {
	border-bottom: none;
}
#miniMenu ul li a.current {
	color: #3B3B37;
	background: #DDDDD5;
}
#miniMenu ul li a.current span.bb {
	border-bottom: none;
}

/* MAIN MENU LEVEL 3
==============================================================================*/
.modMenu {
}
.modMenu .menu {
	list-style: none outside none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}
.modMenu .menu li {
	border-bottom: 1px dotted #d1d1d1;
	margin: 0px;
	padding: 3px 0px;
	margin-bottom: 3px;
}
.modMenu .menu li a {
	display: block;
	text-decoration: none;
}
.modMenu .menu li a span.bg {
	display: block;
	color: #555555;
	font-size: 14px;
	height: 24px;
	line-height: 24px;
	text-indent: 5px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px
}
.modMenu .menu li a span.bg:hover {
	color: #333333;
	background-color: #DEDEE0;
}
.modMenu .menu li a.current span.bg {
	background-color: #FF0000;
	color: #FFFFFF;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
.modMenu .menu .accordion {
	list-style: none outside none;
	margin: 3px 0px 5px 0px;
	padding: 0px;
	overflow: hidden;
}
.modMenu .menu .accordion li {
	margin-bottom: 3px;
	padding: 0px;
	background: none;
	border-bottom: none;
}
.modMenu .menu .accordion li a {
	display: block;
	text-decoration: none;
}
.modMenu .menu .accordion li a span.bg {
	display: block;
	color: #555555;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	line-height: 18px;
	text-indent: 18px;
	height: 18px;
	border-style: none;
	font-size: 11px;
	background: url(../images/modAccordionLi.png) no-repeat 0% 0%;
}
.modMenu .menu .accordion li a span.bg:hover { background-color: #DEDEE0; background-position: 0px -40px;}

.modMenu .menu .accordion li a.current span.bg {
	background-color: #FF0000;
	background-position: 0 -80px;
	color: #FFFFFF;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
.modMenu .menu .accordion li a.current span.bg:hover { background-color: #93939F; background-position: 0px -40px;}
